doctype
html
    head
        title= "We Are Listening"
        script(src="https://code.jquery.com/jquery-3.1.1.min.js")
        script(src="https://cdn.jsdelivr.net/binaryjs/0.2.1/binary.min.js")
    body
        button(id="recording") Start Recording
        script(src="recorder.js")
